hr {
    width: 100%;
    color: oklch(100% 0.00011 271.152);
}

.availableFunds {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    gap: 10vw;
    padding: 1vw;
}

@media screen and (max-width: 899px) {
    .availableFunds {
        padding: 5vw;
    }
}

.positive {
    color: oklch(75.797% 0.24484 140.708);
}

.negative {
    color: oklch(62.793% 0.25768 29.223);
}
