<div id="frame">
    <div class="inputGroup" [formGroup]="loginForm">
        <label class="inputCaption">Email</label>
        <input type="email" title="Email" placeholder="Email" formControlName="email">
        @if (formControl['email'].errors && attemptedLogin) {
            <div class="errors">
                @if (formControl['email'].errors['required']) {
                    <div>Email required</div>
                }
                @if (formControl['email'].errors['email']) {
                    <div>Email domain required</div>
                }
            </div>
        }
    </div>
    <div class="inputGroup" [formGroup]="loginForm">
        <label class="inputCaption">Password</label>
        <input type="password" title="Password" placeholder="Password" formControlName="password">
        @if (formControl['password'].errors && attemptedLogin) {
            <div class="errors">
                @if (formControl['password'].errors['required']) {
                    <div>Password required</div>
                }
            </div>
        }
    </div>
    <button id="logIn" type="logIn" (click)="logIn()">Log In</button>
</div>
