*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* topmenu - oklch(64.1% 0.14145 247.209) */

#root-content {
    display: flex;
    flex-direction: column;
    background-color: oklch(51.431% 0.14417 250.924);
    height: 100%;
    /* padding: 2vw; */
    align-items: center;
}
