<table>
    <tr>
        <th>
            <div class="thGroup">
                <span>From</span>
                <i [class]=transferService.srcAccountNumSortedBy (click)=transferService.sortSrcAccountNum()></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>To</span>
                <i [class]=transferService.dstAccountNumSortedBy (click)=transferService.sortDstAccountNum()></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Amount</span>
                <i [class]=transferService.amountSortedBy (click)=transferService.sortAmount()></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Type</span>
                <i [class]=transferService.typeSortedBy (click)=transferService.sortType()></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Date</span>
                <i [class]=transferService.dateSortedBy (click)=transferService.sortDate()></i>
            </div>
        </th>
    </tr>
    @for (transaction of (transferService.transactionsSub | async); track $index) {
        @if ($index % 2 == 0) {
            <tr class="darkBg">
                <td>{{ transaction.srcAccountNum }}</td>
                <td>{{ transaction.dstAccountNum }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
        }
        @else {
            <tr class="lightBg">
                <td>{{ transaction.srcAccountNum }}</td>
                <td>{{ transaction.dstAccountNum }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
        }
    }
</table>
