<table>
    <tr>
        <th>
            <div class="thGroup">
                <span>From</span>
                <i [class]="srcAccountNumSortedBy" (click)="sortSrcAccountNum()"></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>To</span>
                <i [class]="dstAccountNumSortedBy" (click)="sortDstAccountNum()"></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Amount</span>
                <i [class]="amountSortedBy" (click)="sortAmount()"></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Type</span>
                <i [class]="typeSortedBy" (click)="sortType()"></i>
            </div>
        </th>
        <th>
            <div class="thGroup">
                <span>Date</span>
                <i [class]="dateSortedBy" (click)="sortDate()"></i>
            </div>
        </th>
    </tr>
    @for (transaction of (transactionsSubject | async); track $index) {
        @if ($index % 2 == 0) {
            <tr class="darkBg">
                <td>{{ transaction.srcAccountNum }}</td>
                <td>{{ transaction.dstAccountNum }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
        }
        @else {
            <tr class="lightBg">
                <td>{{ transaction.srcAccountNum }}</td>
                <td>{{ transaction.dstAccountNum }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
        }
    }
</table>
