<div id="top">
    <div id="menu">
        <a routerLink="/" id="home"><i class="fa fa-bank"></i> {{ bankName }}</a>
        @if (isAuthenticated) {
            <div class="row">
                <span>Welcome, {{ account.firstName }}!</span>
                <span class="vr">|</span>
                <a (click)="logOut()"><i class="fa fa-sign-out"></i> Log Out</a>
            </div>
        }
        @else {
            <a routerLink="login" class="loginStatus"><i [class]="logInStatusIcon"></i> {{ logInStatus }}</a>
        }
    </div>
    <div id="navbar">
        <div class="dropdown" id="checking-savings-dropdown">
            <button class="dropdown-title">{{ checkingSavings }} <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a routerLink="">Checking and Debit</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-title">{{ services }} <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a routerLink="withdraw-funds">Widhdraw Funds</a>
                <a routerLink="deposit-funds">Make a Deposit</a>
                <a routerLink="transfer-funds">Transfer Funds</a>
                <a routerLink="">Bill Pay</a>
                <a routerLink="">Manage Account</a>
                @if (isAuthenticated) {
                    <a (click)="logOut()">Log Out</a>
                }
            </div>
        </div>
    </div>
</div>
