*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

#top {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--topmenu);
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.vr {
    position: relative;
    display: flex;
    height: 100%;
    user-select: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#home, .loginStatus {
    /* color: oklch(55.697% 0.26867 299.639); */
}

.row {
    display: flex;
    gap: 2.5vw;
    justify-content: space-between;
}

#navbar {
    gap: 1vw;
    background-color: var(--urban-steel);
    /* padding: 1vw; */
}

.dropdown-title {
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}

.dropdown {
    height: 100%;
    display: inline-block;
    /* background-color: oklch(48.592% 0.01808 302.144); */
    text-align: center;
    padding: 1vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1vw;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: oklch(23.694% 0.00407 308.045);
    text-align: left;
}

.dropdown-content a {
    display: block;
    z-index: 1;
    color: white;
    width: fit-content;
    margin: 3vw;
}

@media screen and (max-width: 899px) {
    .dropdown-content a {
        margin: 10vw;
    }
}

a:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}
