*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --glacier-blue: #4498ae;
    --azure-sky: #447fa7;
    --calm-water: #7aaabc;
    --lavender-mist: #a6a8dc;
    --creamy: #fffff5;
    --urban-steel: #35383e;
    --alpine-green: #275d5d;
    --boreal-sea: #859cb6;
    --olive-fog: #a8af90;
    --deep-silver: #c4cfd7;
    --herbal-mist: #aed3b1;
    --golden-aura: #b7830d;
    --picked-color: #CB917D;
    --yuna-blonde: rgb(203, 145, 125);
    --yuna-blonde-light: oklch(0.928182 0.0688581 39.8288);
    --yuna-blonde-dark: oklch(0.78 0.0703883 39.8288);
    --yuna-blonde-compliment: color(srgb 0.490196 0.717647 0.796078);
    --lighter: oklch(from var(--picked-color) clamp(0, l + 0.22, 1) calc(c * 0.9) h);
    --darker: oklch(from var(--picked-color) clamp(0, 1 - 0.22, 1) calc(c * 0.92) h);
    --compliment: hsl(from var(--picked-color) calc(h - 180) s l);
    --body-light: white;
    --body-dark: linear-gradient(90deg, #23272e, rgb(44, 49, 58), rgb(53, 59, 70), rgb(44, 49, 58), #23272e);
    --h2-light: radial-gradient(circle at center, rgb(0, 0, 214), rgb(0, 0, 170), darkblue);
    --h2-dark: radial-gradient(circle at center, rgb(0, 0, 214), rgb(0, 0, 170), darkblue);
    --topmenu: oklch(64.1% 0.14145 247.209);
}

/* oklch(38.306% 0.11207 251.221) */
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--creamy), var(--glacier-blue));
    width: 100%;
}

@media screen and (min-width: 900px) {
    body {
        padding-inline: 25%;
    }
}

.componentWrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    background-color: oklch(69.137% 0.14686 247.021);
}

/* @media screen and (max-width: 899px) {
    body {

    }
} */
