*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@media screen and (min-width: 900px) {
    body {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: oklch(100% 0.00011 271.152);;
    }
}

@media screen and (max-width: 899px) {
    body {
        height: 100dvh;
    }
}

.widget-collection {
    background-color: grey;
    border-radius: 1vw;
    padding: 1vw;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}
