*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.widget-collection {
    /* background-color: grey; */
    display: grid;
    grid-auto-columns: max-content;
    border-radius: 1vw;
    padding: 1vw;
    justify-content: space-between;
    gap: 2vw;
    justify-items: center;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: oklch(77.821% 0.01139 16.975);
    padding: 1vw;
    gap: 0.5vw;
    width: 75%;
    overflow: auto;
    border-radius: 1.5vw;
}

@media screen and (max-width: 899px) {
    .widget {
        width: 90dvw;
    }
}

hr {
    width: 100%;
}

ul {
    align-self: flex-start;
    padding-left: 1vw;
}

@media screen and (max-width: 1300px) {
    ul {
        padding-left: 10%;
    }
}
